*
{
    margin: 0;
    padding: 0;
}

html
{
    height: 100%;
}

body
{
  text-align: center;
  background: url("/img/background.jpg") top right fixed ;
  font-family: sans-serif;
  font-weight: 100;
}

h1
{
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}


.a-style
{
  text-align: center;
  padding : 10px;
  color:  #00CED1 ;
  margin-bottom: 30px;
}

.a-style:hover 
{
  color:pink;
}

img
{
  border-radius: 8px;
}


/*Footer Style*/

.footer
{
max-width: auto;
height:20px;
padding:10px;
margin:10px 20px 40px;
border :1px solid white;
background-color: white;
display: block;
border-radius: 10px;
position: center;
}

.footer-text
{
  color:#00CED1;
  text-align:center;
  font-style: italic;
  font-size: 100%;
}

a.footer-link
{
  color: #00CED1 ;
  text-align:center;
  font-style: italic;
  font-size: 100%;
}

a.footer-link:hover
{
  color:pink;
}
/*Header Style*/
.header
{
  max-width:auto;
  height: 30px;
  padding:10px;

}