*
{
    margin: 0;
    padding: 0;
}

html
{
    height: 100%;
}

body
{
  text-align: center;
  background: url("/img/background.jpg") fixed ;
  font-family: sans-serif;
  font-weight: 100;
}

h1
{
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

a.footer-link
{
  color:white;
}

a.footer-link:hover
{
  color:pink;
}

.a-style
{
  text-align: center;
  border-style : dotted;
  border-width: 1px;
  border-color: aqua;
  border-radius : 12px;
  padding : 10px;
  color:  #00CED1 ;
  margin : 20px;
}

.a-style:hover 
{
  color:pink;
}

img
{
  border-radius: 8px;
}

.footer
{
width: 100%;
height:20px;
padding:10px;
margin-bottom:10px;
border :1px solid white;
background-color: #e6f2ff;
display: block;
text-align: center;
}

.footer-text
{
  text-align: center;
  color:white;
}

