#clockeng
{
	font-family: sans-serif;
	color: #b1b1b1;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;s
}

#clockeng > div
{
	padding: 10px;
	border-radius: 3px;
	background: #282828;
	display: inline-block;
}

#clockeng div > span
{
	padding: 15px;
	border-radius: 3px;
	background: #6c6c6c;
	display: inline-block;
}

.smalltext
{
	padding-top: 5px;
	font-size: 16px;
}